.posts {
  @apply flex-1 overflow-auto;

  padding-left: 0.2rem;
  padding-right: 0.2rem;

  .list {
    @apply xl:col-count-2;

    & > li {
      @apply pb-8;

      break-inside: avoid;
      page-break-inside: avoid;
    }
  }
}
