@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Source Sans Pro";
  src: url(https://socialgouv.github.io/bootstrap/master/@socialgouv/bootstrap.core/fonts/Source%20Sans%20Pro/SourceSansPro-Regular.otf);
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: "Evolventa";
  src: url(https://socialgouv.github.io/bootstrap/master/@socialgouv/bootstrap.core/fonts/Evolventa/Evolventa-Bold.ttf);
}

html, body {
  height: 100%;
  color: #3B3B3B;
  font-family: "Source Sans Pro";
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #54677A;
  font-weight: bold;
  font-family: "Evolventa";
}

.publish-form .col-form-label {
  white-space: nowrap;
}

.publish-form .mood {
  font-size: 35px;
  line-height: 35px;
}

.publish-form .kpis > div {
  margin-bottom: 10px;
}

.publish-form .kpis > div:last-child {
  margin-bottom: 0;
}

.publish-form .kpis > div > input:first-child {
  margin-right: 5px;
}

.publish-form .kpis > div > input:last-child {
  margin-left: 5px;
}

@media (max-width: 576px) {
  .sgb-marianne {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
  }

  .navbar.sgb-navbar-marianne .navbar-brand {
    font-size: 1.3em;
  }

  .publish-form .mood {
    top: 20px;
    position: relative;
  }
}
