@use "./variables";

button,
.button {
  outline: 0;
  color: #999;
  display: flex;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  font-size: variables.$font-size;
  padding: variables.$base-margin * 0.1 variables.$base-margin / 2;
  @include variables.themify() {
    color: variables.themed("font-color");
    border-color: variables.themed("border-color");
    border-radius: variables.themed("border-radius");
    background-color: variables.themed("background-color");
  }

  &.no-text {
    padding: variables.$base-margin * 0.4 variables.$base-margin / 2;

    svg {
      margin-right: 0;
    }
  }

  &:hover,
  &:focus {
    text-decoration: none !important;
    @include variables.themify() {
      color: variables.themed("base-color");
      border-color: variables.themed("font-color-link");
      background-color: variables.themed("font-color-link");
    }
  }

  &.important {
    &:hover,
    &:focus {
      @include variables.themify() {
        border-color: variables.themed("font-color-important");
        background-color: variables.themed("font-color-important");
      }
    }
  }
}
