@use "./variables";

#__next > .footer {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  justify-content: space-between;
  padding: variables.$base-margin / 2;
  font-size: variables.$font-size * 0.8;
  // background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px 0 0 0;
  // border-top: 1px solid variables.$border-color;
  @include variables.themify() {
    border-color: variables.themed("border-color");
    background-color: transparentize(variables.themed("base-color"), 0.2);
  }
}

@media screen and (max-width: 640px) {
  #__next > .footer {
    font-size: variables.$font-size * 0.7;
  }
}
