@use "./variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  margin: variables.$base-margin 0;
  font-family: "Source Sans Pro Semi Bold";
}

h1 {
  font-size: variables.$font-size * 2;
  line-height: variables.$font-size * 2;
}

h2 {
  font-size: variables.$font-size * 1.8;
  line-height: variables.$font-size * 2;
}

h3 {
  font-size: variables.$font-size * 1.5;
  line-height: variables.$font-size * 1.5;
}

h4 {
  font-size: variables.$font-size * 1.2;
  line-height: variables.$font-size * 1.2;
}

body,
small,
input,
select,
textarea,
button {
  font-weight: 400;
  // color: variables.$font-color;
  font-size: variables.$font-size;
  line-height: variables.$font-size * 1.2;
  font-family: "Source Sans Pro", sans-serif;
  @include variables.themify() {
    color: variables.themed("font-color");
    background-color: variables.themed("base-color");
  }
}

small {
  display: block;
}

#__next {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.markdown-body {
  font-size: variables.$font-size !important;
  @include variables.themify() {
    color: variables.themed("font-color");
  }
}

a {
  text-decoration: none;
  // color: variables.$link-color;
  @include variables.themify() {
    color: variables.themed("link-color");
  }

  &:hover:not(.button) {
    text-decoration: underline;
  }
}

textarea,
select,
input {
  outline: none;
  border-radius: 2px;
  font-size: variables.$font-size;
  background-color: variables.$base-color;
  border: 1px solid variables.$border-color;

  &.error {
    border: 1px solid variables.$secondary-color;
  }
}

select {
  appearance: none;
  display: inline-block;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  height: calc(#{variables.$base-margin * 2} + 2px);
  background: #fff
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/8px 10px;
}

textarea,
input {
  padding: 0.375rem 0.75rem;
}
