@use "./variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  background-color: #121212;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  margin: variables.$base-margin 0;
  font-family: "Source Sans Pro Semi Bold";
}

h1 {
  font-size: variables.$font-size * 2;
  line-height: variables.$font-size * 2;
}

h2 {
  font-size: variables.$font-size * 1.8;
  line-height: variables.$font-size * 2;
}

h3 {
  font-size: variables.$font-size * 1.5;
  line-height: variables.$font-size * 1.5;
}

h4 {
  font-size: variables.$font-size * 1.2;
  line-height: variables.$font-size * 1.2;
}

body,
small,
input,
select,
textarea,
button {
  font-weight: 400;
  font-size: variables.$font-size;
  line-height: variables.$font-size * 1.2;
  font-family: "Source Sans Pro", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  @include variables.themify() {
    -webkit-text-fill-color: variables.themed("font-color") !important;
    -webkit-box-shadow: 0 0 0 30px variables.themed("base-color") inset !important;
  }
}

small {
  display: block;
}

#__next,
#__next > [class^="theme-"],
#__next > [class^="theme-"] > .app {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.app {
  @include variables.themify() {
    color: variables.themed("font-color");
    background-color: variables.themed("base-color");
  }
}

.markdown-body {
  font-size: variables.$font-size !important;
  @include variables.themify() {
    color: variables.themed("font-color");
  }
}

a {
  text-decoration: none;
  @include variables.themify() {
    color: variables.themed("font-color-link");
  }

  &:hover:not(.button) {
    text-decoration: underline;
  }
}

textarea,
select,
input {
  outline: none;
  font-size: variables.$font-size;
  border-width: 1px;
  border-style: solid;
  @include variables.themify() {
    color: variables.themed("font-color");
    border-color: variables.themed("border-color");
    border-radius: variables.themed("border-radius");
    background-color: variables.themed("base-color");
  }

  &.error {
    @include variables.themify() {
      border-color: variables.themed("font-color-important");
    }
  }
}

select {
  appearance: none;
  display: inline-block;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  height: calc(#{variables.$base-margin * 2} + 2px);
  background: #fff
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/8px 10px;
}

textarea,
input {
  padding: 0.375rem 0.75rem;
}

.icon-sun {
  @include variables.themify() {
    color: variables.themed("font-color-warning");
  }
}

.icon-cloud {
  @include variables.themify() {
    color: variables.themed("font-color");
  }
}

.icon-rain {
  @include variables.themify() {
    color: variables.themed("font-color-important");
  }
}
