@use "./components/common/button.scss";
@use "./components/post.scss";
@use "./components/kpis.scss";
@use "./components/logo.scss";
@use "./components/team.scss";
@use "./components/teams.scss";
@use "./components/posts.scss";
@use "./components/legal.scss";
@use "./components/header.scss";
@use "./components/footer.scss";
@use "./components/loader.scss";
@use "./components/wizard.scss";
@use "./components/page-404.scss";
@use "./components/tab-panel.scss";
@use "./components/kpis-editor.scss";
@use "./components/mood-selector.scss";
@use "./components/markdown-editor.scss";

#__next { /* stylelint-disable-line */
  & > .container {
    @apply flex flex-1 mx-auto;
  }
}

main {
  @apply flex flex-1 pt-10 overflow-auto;

  margin-top: 108px;
}

aside {
  @apply
    mr-8
    w-64
    pt-10
    sticky
    min-h-full
    max-h-screen;

  top: 108px;
  margin-top: 108px;
}

a {
  i {
    @apply relative top-0.5 mr-1;
  }
}

a[target="_blank"] {
  &::after {
    top: 2px;
    left: 1px;
    content: "\ecaf";
    font-style: normal;
    position: relative;
    font-family: remixicon, sans-serif !important;
  }
}
