@use "./components/post.scss";
@use "./components/logo.scss";
@use "./components/teams.scss";
@use "./components/posts.scss";
@use "./components/legal.scss";
@use "./components/header.scss";
@use "./components/footer.scss";
@use "./components/loader.scss";
@use "./components/wizard.scss";
@use "./components/tab-panel.scss";
@use "./components/mood-selector.scss";

#__next { /* stylelint-disable-line */
  & > .container {
    @apply flex flex-1 mx-auto;
  }
}

main {
  @apply flex flex-1 pt-10;

  margin-top: 108px;
}

aside {
  @apply
    mr-8
    w-48
    pt-10
    sticky
    min-h-full
    max-h-screen;

  top: 108px;
  margin-top: 108px;
}

a {
  i {
    @apply relative top-0.5 mr-1;
  }
}

a[target="_blank"] {
  &::after {
    top: 2px;
    left: 1px;
    content: "\ecaf";
    font-style: normal;
    position: relative;
    font-family: remixicon, sans-serif !important;
  }
}

button,
a.btn {
  @apply
    px-4
    py-3
    flex
    relative
    leading-4
    inline-block;

  &.primary {
    @apply
      shadow
      font-bold
      text-white
      bg-blue-500
      active:shadow-sm
      hover:bg-blue-400
      active:bg-blue-300;
  }

  &.sm {
    @apply text-sm px-3 py-2;
  }

  i {
    @apply relative top-px mr-1;
  }
}
