@use "./variables";

.nav {
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  position: absolute;
  align-items: center;
  padding: variables.$base-margin / 2;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid darken(variables.$base-color, 10%);

  .marianne {
    width: 115px;
    height: 60px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(/marianne.svg);
  }

  h1 {
    flex: 1;
    margin: 0 0 0 variables.$base-margin / 2;

    a {
      color: variables.$font-color;
    }

    .description {
      font-weight: normal;
      font-size: variables.$font-size;

      a {
        color: variables.$link-color;
      }
    }
  }

  .profile {
    text-align: right;
    margin-right: variables.$base-margin / 2;

    a {
      font-size: variables.$font-size / 1.2;
      padding: 0 variables.$base-margin / 6;
    }
  }

  .avatar {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-size: cover;
  }
}
