@use "./variables";

.page {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
  padding-bottom: variables.$base-margin;
  padding-top: variables.$base-margin * 6;

  .intro {
    flex: 0;
    display: flex;
    align-items: center;
    margin: 0 variables.$base-margin variables.$base-margin;

    .avatar {
      width: 7rem;
      height: 7rem;
      min-width: 7rem;
      min-height: 7rem;
      background-size: cover;
      margin-right: variables.$base-margin;
    }

    h2 {
      margin: 0 0 variables.$base-margin / 2;
    }
  }
}
