@use "./variables";

.page {
  flex: 1;
  overflow: auto;
  padding-top: variables.$base-margin * 6;

  .intro {
    display: flex;
    align-items: center;
    margin: 0 variables.$base-margin * 2;

    .avatar {
      width: 80px;
      height: 80px;
      background-size: cover;
      margin-right: variables.$base-margin;
    }

    h2 {
      margin: 0 0 variables.$base-margin / 2;
    }
  }
}
