@use "./variables";

.page > .posts {
  margin: 0
    variables.$base-margin
    variables.$base-margin * 2;

  .post {
    margin-bottom: variables.$base-margin;
    background-color: variables.$background-color;

    .header {
      display: flex;
      align-items: center;
      padding: 0 variables.$base-margin;
      border-bottom: 1px solid darken(variables.$base-color, 10%);

      h3 {
        flex: 1;
        margin: variables.$base-margin 0;
      }

      .mood {
        font-size: variables.$font-size * 1.8;
        margin-right: variables.$base-margin * 0.5;
      }
    }

    .body {

      .kpis {
        display: flex;
        justify-content: center;
        margin-top: variables.$base-margin;

        .kpi {
          margin: 0;
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 0 variables.$base-margin;
          font-size: variables.$font-size * 1.5;

          .value {
          }
        }
      }

      .tabs {
        display: flex;
        margin: variables.$base-margin / 2 variables.$base-margin;
        border-bottom: 1px solid darken(variables.$base-color, 10%);

        div {
          top: 1px;
          outline: none;
          cursor: pointer;
          position: relative;
          color: variables.$link-color;
          margin: 0 variables.$base-margin / 1.5;
          padding: variables.$base-margin / 2 variables.$base-margin / 5;

          &:hover {
            color: variables.$font-color;
          }

          &.selected {
            color: variables.$font-color;
            border-bottom: 1px solid variables.$font-color;
          }

          &.disabled {
            opacity: 0.3;
            cursor: default;
            color: variables.$font-color;
          }
        }
      }

      .panels {

        div {
          display: none;
          padding: variables.$base-margin;
          background-color: variables.$base-color;
          border: 1px solid darken(variables.$base-color, 5%);
          margin: variables.$base-margin variables.$base-margin 0;

          &.selected {
            display: block;
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: flex-end;

      .info {
        margin: variables.$base-margin;
      }
    }
  }

  .empty {
    text-align: center;
    padding: variables.$base-margin;
    margin: variables.$base-margin 0;
    background-color: variables.$background-color;
  }
}
