@use "./variables";

.page > .posts,
.panels .posts {
  display: flex;
  flex-wrap: wrap;
  margin: variables.$base-margin / 2 0 0;
  padding-bottom: variables.$base-margin * 3;

  .post {
    flex: 1 0 33%;
    overflow: auto;
    max-width: 33.333333%;

    .content {
      display: flex;
      overflow: auto;
      margin: 0.5rem;
      flex-direction: column;
      @include variables.themify() {
        box-shadow: variables.themed("box-shadow");
        background-color: variables.themed("background-color");
      }

      .header {
        display: flex;
        align-items: center;
        border-style: solid;
        border-width: 0 0 1px 0;
        padding: 0 variables.$base-margin;
        @include variables.themify() {
          border-color: variables.themed("border-color");
        }

        h3 {
          flex: 1;
          margin: variables.$base-margin 0;
        }

        .mood {
          font-size: variables.$font-size * 1.8;
          margin-right: variables.$base-margin * 0.5;
        }

        .delete {
          margin-left: 0.5rem;
        }
      }

      .body {
        flex: 1;
        display: flex;
        overflow: auto;
        flex-direction: column;

        .kpis {
          display: flex;
          border-width: 1px;
          border-style: solid;
          padding: variables.$base-margin;
          margin: variables.$base-margin variables.$base-margin 0;
          @include variables.themify() {
            border-color: variables.themed("border-color");
            background-color: variables.themed("base-color");
          }

          .kpi {
            flex: 1;
            min-width: 0;
            text-align: center;
            border-style: solid;
            border-width: 0 1px 0 0;
            padding: variables.$base-margin / 4 variables.$base-margin 0;
            @include variables.themify() {
              border-color: variables.themed("border-color");
            }

            .value,
            .name {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            &:last-child {
              border-right: none;
            }

            .value {
              font-size: variables.$font-size * 2;
              line-height: variables.$font-size * 1.8;
              font-family: "Source Sans Pro Semi Bold";
            }
          }
        }

        .tabpanel {
          .tabs {
            margin: variables.$base-margin / 2 variables.$base-margin;
          }
          .panels > div {
            flex: 1;
            min-height: 10rem;
            max-height: 10rem;
            border-width: 1px;
            border-style: solid;
            padding: variables.$base-margin;
            margin: variables.$base-margin / 2 variables.$base-margin 0;
            @include variables.themify() {
              border-color: variables.themed("border-color");
              background-color: variables.themed("base-color");
            }
          }
        }
      }

      .footer {
        display: flex;
        justify-content: flex-end;

        .info {
          margin: variables.$base-margin;
        }
      }
    }
  }
}

.empty {
  text-align: center;
  align-self: center;
  margin: variables.$base-margin 0;
  padding: variables.$base-margin variables.$base-margin * 2;
  @include variables.themify() {
    background-color: variables.themed("background-color");
  }
}

@media screen and (max-width: 1800px) {
  .page {
    .posts {
      .post {
        flex: 1 0 50%;
        max-width: 50%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .page {
    .posts {
      .post {
        flex: 1 0 100%;
        max-width: 100%;
      }
    }
  }
}
