@use "./variables";

.content > .publish {
  flex: 1;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  padding: variables.$base-margin * 7 0 variables.$base-margin * 5;

  form {
    width: 80%;
    display: flex;
    max-width: 35rem;
    border-radius: 2px;
    position: relative;
    flex-direction: column;
    padding: variables.$base-margin variables.$base-margin * 1.5
      variables.$base-margin * 2;

    @include variables.themify() {
      box-shadow: variables.themed("box-shadow");
      background-color: variables.themed("background-color");
    }

    .header {
      margin: 0 0 0.3rem;
      border-style: solid;
      border-width: 0 0 1px 0;
      padding: 0 0 variables.$base-margin;
      @include variables.themify() {
        border-color: variables.themed("border-color");
      }
    }

    .body {
      display: flex;
      margin: variables.$base-margin 0 0;

      flex-direction: column;

      .team-mood {
        display: flex;
        margin-bottom: variables.$base-margin;

        select {
          flex: 1;
        }
      }

      label {
        flex: 1;
        position: relative;
        margin-bottom: variables.$base-margin;

        &:last-child {
          margin-bottom: variables.$base-margin !important;
        }

        span {
          color: #999;
          font-size: variables.$font-size * 0.8;
        }

        textarea,
        input {
          width: 100%;
          box-sizing: border-box;
          margin-top: variables.$base-margin / 2;
        }

        textarea {
          display: block;
          resize: vertical;
          min-height: 150px;
        }

        .preview {
          top: 25px;
          right: 0px;
          position: absolute;
          border-radius: 0 0 0 2px;
          border-width: 0 0 1px 1px;

          &:hover,
          &:focus,
          &:active {
            @include variables.themify() {
              color: variables.themed("link-color");
              border-color: variables.themed("border-color");
              background-color: variables.themed("background-color");
            }
          }
        }

        .markdown-body {
          flex: 1;
          padding: 1rem;
          overflow: auto;
          min-height: 150px;
          border-radius: 2px;
          margin-top: variables.$base-margin / 2;
          @include variables.themify() {
            background-color: variables.themed("base-color");
            border: 1px solid variables.themed("border-color");
          }
        }

        &.error {
          textarea,
          .preview,
          .markdown-body {
            @include variables.themify() {
              border-color: variables.themed("font-color-important");
            }
          }
          .preview {
            &:hover,
            &:focus,
            &:active {
              @include variables.themify() {
                border-color: variables.themed("font-color-important");
              }
            }
          }
        }
      }
    }

    .moods {
      display: flex;
      align-items: center;
      margin: 0 0 0 variables.$base-margin;
      font-size: variables.$font-size * 2;

      .mood {
        opacity: 0.5;
        cursor: pointer;
        margin-top: 3px;
        margin-right: variables.$base-margin / 2;

        &.selected {
          opacity: 1;
          outline: none;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .kpis {
      margin-bottom: 0;
      margin-bottom: variables.$base-margin;

      .kpi {
        display: flex;
        align-items: stretch;
        margin-top: variables.$base-margin / 2;

        .index {
          display: flex;
          align-items: center;
          margin-right: variables.$base-margin / 2;
        }

        input {
          min-width: 0;
          margin-top: 0;
          margin-right: variables.$base-margin / 4;

          &:last-child {
            margin-right: 0;
            margin-left: variables.$base-margin / 4;
          }
        }

        .control {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      margin: variables.$base-margin 0 0;

      button {
        min-width: 30%;
        font-weight: bold;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: variables.$font-size * 1.2;
      }
    }
  }

  .loader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include variables.themify() {
      background-color: variables.themed("background-color");
    }

    p {
      margin-top: variables.$base-margin * 2;
    }

    & > div > div {
      @include variables.themify() {
        background-color: variables.themed("link-color");
      }
    }
  }

  .message {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: variables.$background-color;

    p {
      margin-top: variables.$base-margin * 2;
    }
  }
}
