@use "./variables";

.stats {
  flex: 1;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  padding-top: variables.$base-margin * 5;
  padding-bottom: variables.$base-margin * 3;

  .posts {
    width: 80%;

    .chart {
      height: 200px;
    }
  }

  .teams {
    flex: 1;
    width: 80%;
    display: flex;
    flex-direction: column;

    table {
      border-width: 1px;
      border-style: solid;
      border-collapse: collapse;
      @include variables.themify() {
        border-color: variables.themed("border-color");
      }

      thead {
        display: block;
        @include variables.themify() {
          background-color: variables.themed("background-color");
        }
      }

      tbody {
        flex: 1;
        display: block;

        tr:last-child {
          td,
          th {
            border-bottom: none;
          }
        }
      }

      tr {
        width: 100%;
        display: table;
        table-layout: fixed;
      }

      th {
        font-family: "Source Sans Pro Semi Bold";
      }

      td,
      th {
        border-style: solid;
        border-width: 0 1px 1px 0;
        padding: variables.$base-margin * 0.2 variables.$base-margin * 0.5;
        @include variables.themify() {
          border-color: variables.themed("border-color");
        }

        &:last-child {
          border-right: none;
        }

        &.ok a {
          @include variables.themify() {
            color: variables.themed("font-color-valid");
          }
        }

        &.warning a {
          @include variables.themify() {
            color: variables.themed("font-color-warning");
          }
        }

        &.error a {
          @include variables.themify() {
            color: variables.themed("font-color-important");
          }
        }
      }
    }

    .labels {
      display: flex;
      justify-content: space-evenly;
      padding: variables.$base-margin;

      .label {
        display: flex;
        .color {
          min-width: 16px;
          min-height: 16px;
          margin-right: variables.$base-margin / 2;

          &.valid {
            @include variables.themify() {
              background-color: variables.themed("font-color-valid");
            }
          }

          &.warning {
            @include variables.themify() {
              background-color: variables.themed("font-color-warning");
            }
          }

          &.important {
            @include variables.themify() {
              background-color: variables.themed("font-color-important");
            }
          }
        }
      }
    }
  }
}
