.dropzone {
  outline: none;
  display: flex;
  padding: 20px;
  margin-top: 1rem;
  border-radius: 2px;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  color: darken(#efefef, 20%);
  transition: border 0.24s ease-in-out;
  border: 2px dashed darken(#efefef, 10%);

  p {
    margin: 0;
  }
}
