$base-color: #fff;
$font-size: 0.9rem;
$base-margin: 1rem;
$link-color: darkblue;
$font-color: #212121;
$secondary-color: crimson;
$background-color: #f9f9f9;
$border-color: darken($base-color, 10%);
