.publish-page {
  min-height: calc(100vh - 372px);
  @apply flex-1 flex flex-col justify-center relative;
}

.publish-page .fr-stepper {
  @apply h-28;
}

.publish-page form .step {
  @apply h-80 flex;
}

.publish-page form .actions {
  @apply flex justify-between pt-6;
}

.publish-page form .actions .paging {
  @apply flex gap-x-3;
}

.publish-page form .markdown-editor {
  @apply flex flex-1 gap-x-6;
}

.publish-page form .markdown-editor .preview {
  @apply flex-1 p-3 overflow-auto;
  /* @apply dark:bg-[color:var(--background-alt-grey)]; */
  color: var(--text-default-grey);
  filter: drop-shadow(var(--raised-shadow));
  background-color: var(--background-alt-grey);
}

.publish-page form .markdown-editor .fr-input-group {
  @apply flex-1 flex mb-0;
}

.publish-page form .markdown-editor .fr-input-group textarea {
  @apply flex-1 m-0;
}

.publish-page form .mood-selector {
  @apply flex flex-1 justify-center items-center gap-x-12;
}

.publish-page form .mood-selector .mood {
  @apply
  flex
  w-40
  h-40
  flex-col
  shadow-lg
  transition-shadow
  justify-center
  items-center
  gap-y-3
  bg-slate-50
  text-slate-400
  hover:text-blue-900
  cursor-pointer;

  @apply text-[color:var(--text-mention-grey)];
  @apply dark:bg-[color:var(--background-alt-grey)];
  @apply hover:text-[color:var(--text-action-high-blue-france)];
}

.publish-page form .mood-selector .mood.selected {
  @apply filter-none;
  @apply shadow bg-transparent;
  @apply text-[color:var(--text-action-high-blue-france)];
  @apply dark:bg-[color:var(--background-contrast-grey)];
}

.publish-page form .kpis-editor {
  @apply flex flex-1 gap-x-6;
}

.publish-page form .kpis-editor .kpi-editor {
  @apply flex flex-col gap-y-3 flex-1;
}

.publish-page form .kpis-editor .kpi-editor .controls {
  @apply flex justify-center;
}

.publish-page form .kpis-editor .kpi-editor .editor {
  @apply flex items-end gap-x-3 border-l-4 pl-3 py-3;
  @apply border-[color:var(--border-active-blue-france)];
}

.publish-page form .kpis-editor .kpi-editor .editor .fields {
  @apply flex-1;
}

.publish-page form .kpis-editor .kpi-editor .editor .fields .inputs {
  @apply grid grid-cols-2 gap-x-3;
}

.publish-page form .kpis-editor .kpi-editor .editor .fields .inputs .fr-input-group {
  @apply mb-0;
}

.publish-page form .kpis-editor .kpi-editor .editor .fields .inputs .fr-input-group input {
  @apply mt-0;
}

.publish-page form .kpis-editor .preview {
  @apply bg-white;
  @apply flex flex-1 p-3;
  @apply justify-center items-center overflow-hidden divide-x;
  @apply dark:bg-[color:var(--background-alt-grey)];

  filter: drop-shadow(var(--raised-shadow));
}

.publish-page form .kpis-editor .preview .kpi {
  @apply flex flex-col flex-1 overflow-hidden px-3;
}

.publish-page form .kpis-editor .preview .kpi > div {
  @apply truncate flex-1 text-center;
}

.publish-page form .kpis-editor .preview .kpi .value {
  @apply font-semibold text-xl;
}
