@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style: disc;
}

.fr-sidemenu--sticky .fr-sidemenu__inner {
  @apply pt-12 pb-6;
}

.not-found {
  min-height: calc(100vh - 372px);
  @apply flex-1 flex items-center justify-center;
}

.not-found h2 {
  @apply text-6xl mr-8;
}

a[aria-disabled="true"] {
  color: currentColor;
  pointer-events: none;
  text-decoration: none;
}

/* Increase the size of priorities, needs, and terms sections */
.markdown-body {
  font-size: 1.25rem; /* Increase font size */
}

/* Decrease the size of the logo and other design elements */
.header .avatar img {
  width: 24px; /* Decrease logo size */
  height: 24px; /* Decrease logo size */
}

.header .text {
  font-size: 1rem; /* Decrease font size */
}

.header .mood {
  font-size: 1rem; /* Decrease font size */
}
