.team-title {
  @apply flex flex-1 gap-x-6 mt-10;
}

.team-title .name-description {
  @apply flex-1 flex flex-col justify-center;
}

.team-title .name-description h2 {
  @apply text-5xl;
}

.team-title .actions {
  @apply flex flex-col justify-center;
}

.team-title .members {
  @apply flex gap-x-1 mt-3;
}

.posts {
  @apply grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-8;
}

article.post {
  @apply bg-gray-50;
  @apply p-3 flex flex-col gap-y-6 rounded-sm;
  @apply dark:bg-[color:var(--background-raised-grey)];

  filter: drop-shadow(var(--raised-shadow));
}

article.post .header {
  @apply h-14;
  @apply flex items-center gap-3;
}

article.post .header .text {
  @apply flex-1 font-medium text-xl;
}

article.post .kpis {
  @apply flex divide-x py-2;

  border: 1px solid var(--border-default-grey);
  background-color: var(--background-default-grey);
}

article.post .kpis .kpi {
  @apply flex-1 flex flex-col overflow-hidden pl-3 pr-3;
}

article.post .kpis .kpi .value {
  @apply text-center truncate font-semibold text-xl;
}

article.post .kpis .kpi .name {
  @apply flex-1 truncate text-center;
}

article.post .tab-panel {
  @apply flex flex-col flex-1;
}

article.post .tab-panel .tabs {
  @apply flex;
}

article.post .tab-panel .tabs .tab {
  @apply flex flex-1 text-center;
  @apply relative top-px;
  @apply border;
  @apply rounded-t-sm;
  @apply border-gray-50 border-b-gray-200;
  @apply dark:border-[color:var(--background-raised-grey)];
  @apply dark:border-b-transparent;
}

article.post .tab-panel .tabs .tab.selected {
  @apply bg-white;
  @apply border-gray-200 border-b-white;
  @apply dark:bg-[color:var(--background-default-grey)];
  @apply dark:border-[color:var(--border-default-grey)];
  @apply dark:border-b-[color:var(--background-default-grey)];
}

article.post .tab-panel .tabs .tab button {
  @apply hover:bg-transparent;
  @apply flex-1 text-center block;
}

article.post .tab-panel .panels {
  @apply flex-1 flex flex-col;
  @apply border border-gray-200;

  border: 1px solid var(--border-default-grey);
}

article.post .tab-panel .panels .panel {
  @apply flex-1 hidden min-h-[13rem] overflow-auto;
  @apply flex-col max-h-52;
}

article.post .tab-panel .panels .panel.selected {
  @apply flex;
}

article.post .footer {
  @apply flex justify-between items-center;
}

article.post .info {
  @apply text-sm text-right;
}

article.post .actions {
  @apply flex justify-center gap-x-3;
}

.publish-page form .markdown-editor .preview {
  overflow: auto;
  overflow-y: auto;
  overflow-x: auto;
  background-color: orange;
}

.markdown-body {
  @apply flex-1 p-3;
  color: var(--text-default-grey);
  background-color: var(--background-default-grey);
}
